<!DOCTYPE html>
<html lang="en">
 
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
 
    <title>Anmälan - Cobra Cup 2015</title>
 
    <!-- Latest compiled and minified CSS -->
    <link href="dist/css/vendor/bootstrap.min.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> -->

    <!-- Optional theme -->
    <!-- link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"> -->
    <link rel="stylesheet" href="dist/css/flat-ui.css">

    <link rel="stylesheet" href="stylesheets/style.css">

    <link rel="icon" type="image/png" href="http://media.cobracup.se/2014/11/favicon.png" />
 
    <!-- Custom Fonts -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
 
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
 
</head>
 
<body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">The Hub</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="/">Lag</a></li>
                <li class="active"><a href="/signup">Anmäl lag</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Tabeller <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="/stat/league">Ligan</a></li>
                    <li><a href="/stat/divisions">Divisioner</a></li>
                    <li><a href="/stat/playerstats">Spelarstatistik</a></li>
                  </ul>
                </li>
                <li><a href="/games">Matcher</a></li>
                <li><a href="http://cobracup.se" target="_blank">cobracup.se</a></li>
              </ul>
              <% if(typeof(count) !== 'undefined'){ %>
                <p class="navbar-text navbar-right"><strong><%= count %>/15 lag</strong></p>
              <% } %>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
    <div class="container">
        <div class="col-md-12">
            <% if(typeof(flash) !== 'undefined'){ %>
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <strong>Fel!</strong> <%= flash %>.
                </div>  
            <% } %>
            <div style="padding-right: 0; padding-left: 0;" class="container-fluid">
                <div class="panel">
                    <div class="panel-body">              
                        <h4>Anmäl ditt lag till Cobra Cup 2015 <small><i class="fa fa-beer"></i> = obligatoriskt</small></h4>
                        <form class="form" role="form" method="post">
                            <label><small><i class="fa fa-beer"></i></small> Kapten</label>
                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label for="captain_name" class="control-label sr-only">Namn</label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><span class="fui-user fa-fw"></span></div>
                                        <input type="text" class="form-control" id="captain_name" placeholder="Namn" name="captain_name" required autofocus>
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="captain_email" class="control-label sr-only">Epost</label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-envelope fa-fw"></i></div>
                                        <input type="email" class="form-control" id="captain_email" placeholder="Epost" name="captain_email" required>
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="captain_telephone" class="control-label sr-only">Telefon</label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-phone fa-fw"></i></div>
                                        <input type="text" class="form-control" id="captain_telephone" placeholder="Telefon" name="captain_telephone" required>
                                    </div>
                                </div>
                            </div>
                            <label><small><i class="fa fa-beer"></i></small> Assisterande</label>
                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label for="lieutenant_name" class="control-label sr-only">Namn</label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><span class="fui-user fa-fw"></span></div>
                                        <input type="text" class="form-control" id="lieutenant_name" placeholder="Namn" name="lieutenant_name" required>
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="lieutenant_email" class="control-label sr-only">Epost</label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-envelope fa-fw"></i></div>
                                        <input type="email" class="form-control" id="lieutenant_email" placeholder="Epost" name="lieutenant_email" required>
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="lieutenant_telephone" class="control-label sr-only">Telefon</label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-phone fa-fw"></i></div>
                                        <input type="text" class="form-control" id="lieutenant_telephone" placeholder="Telefon" name="lieutenant_telephone" required>
                                    </div>
                                </div>
                            </div>
                            <label><small><i class="fa fa-beer"></i></small> Laget</label>
                            <div class="form-group">
                                <label for="team_name" class="control-label sr-only">Lagnamn</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-flag fa-fw"></i></div>
                                    <input type="text" class="form-control" id="team_name" placeholder="Lagnamn" name="team_name" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="team_motto" class="control-label sr-only">Lagets motto</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-pencil fa-fw"></i></div>
                                    <input type="text" class="form-control" id="team_motto" placeholder="Lagets motto" name="team_motto" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6"> 
                                <label for="nhlTeam"><small><i class="fa fa-beer"></i></small> Spelar som</label>
                                <% if(typeof(nhlteams) !== 'undefined'){ %>
                                    <select class="form-control select select-inverse select-block mbl" id="nhlTeam" name="nhlTeam">
                                        <optgroup label="NHL">
                                        <%
                                        nhlteams.forEach(function(nhlTeam) { %>
                                            <option value="<%= nhlTeam.id %>"><%= nhlTeam.get("name") %></option>
                                        <% }) %>
                                        </optgroup>
                                    </select>
                                    <% 
                                } else { %>
                                    <p><em>Problem att ladda lediga lag.</em></p>
                                <% } %>
                                </div>
                                <div class="form-group col-md-6">
                                    <label id="levelLbl" for="level" data-toggle="tooltip" data-placement="right" title="" data-original-title="Välj den nivå som ert lag är på. Rookie = Nybörjare, Pro = Spelar då och då, All-Star = Spelar NHL minst en gång per vecka."><small><i class="fa fa-beer"></i></small> Nivå</label>
                                    <select class="form-control select select-warning select-block mbl" id="level" name="level">
                                        <option value="1">Rookie</option>
                                        <option value="2" selected>Pro</option>
                                        <option value="3">All Star</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Kommentar</label>
                                <textarea class="form-control input-sm" rows="3" name="comment"></textarea>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-3">
                                    <label for="captain_gamertag" class="control-label"><strong>Kapten</strong> <span style="color: rgb(16,124,16);">Xbox Live Gamertag</span></label>
                                    <div class="input-group" title="Ej obligatorisk">
                                        <div class="input-group-addon"><i class="fa fa-gamepad fa-fw"></i></div>
                                        <input type="text" class="form-control" id="captain_gamertag" placeholder="Gamertag" name="captain_gamertag">
                                    </div>
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="lieutenant_gamertag" class="control-label"><strong>Assisterande</strong> <span style="color: rgb(16,124,16);">Xbox Live Gamertag</span></label>
                                    <div class="input-group" title="Ej obligatorisk">
                                        <div class="input-group-addon"><i class="fa fa-gamepad fa-fw"></i></div>
                                        <input type="text" class="form-control" id="lieutenant_gamertag" placeholder="Gamertag" name="lieutenant_gamertag">
                                    </div>
                                </div>
                            </div>
                            <p><strong>Obs.</strong> vid årets Cobra Cup gäller en anmälningsavgift på <strong>150 kronor</strong> per spelare. Läs mer <a href="http://cobracup.se/anmalningsavgift/" target="_blank">här</a></p>
                            <div class="form-group">
                                <input type='hidden' name='_method' value='put' />
                                <button type="submit" class="btn btn-hg btn-primary btn-wide">Anmäl</button>
                            </div>
                        </form>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.container -->

    <p class="text-center" style="margin-top: 2.5em;"><small>&copy; 2014 Copyright The Cobra Cup</small></p>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/dist/js/vendor/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/dist/js/flat-ui.min.js"></script>

    <!-- jQuery Version 1.11.0 -->
    <!-- <script src="//code.jquery.com/jquery-1.11.0.min.js"></script> -->

    <!-- Latest compiled and minified JavaScript -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script> -->
    <script>
        $("select").select2({dropdownCssClass: 'dropdown-inverse'});
        $('#levelLbl').tooltip('hide');
    </script>
</body>
 
</html>