<!-- Include the header partial -->
<% include _header %>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            <!-- <img alt="Cobra Cup" src="/img/cobracup_logo_xsmall.png"> -->
            The Hub
          </a>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse-01">
            <ul class="nav navbar-nav">
                <li><a href="/">Lag</a></li>
                <li><a href="/results">Resultat</a></li>
                <li><a href="/standings">Tabeller</a></li>
            </ul>
            <button class="btn btn-primary navbar-btn btn-sm" type="button">Anmäl lag</button>
            <form class="navbar-form navbar-right" action="#" role="search">
                <div class="form-group">
                    <div class="input-group">
                        <input class="form-control" id="navbarInput-01" type="search" placeholder="Sök">
                        <span class="input-group-btn">
                            <button type="submit" class="btn"><span class="fui-search"></span></button>
                        </span>
                    </div>
                </div>
            </form>
        </div><!-- /.navbar-collapse -->
      </div>
    </nav>
    <div id="wrapper">
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel">
                    <div class="panel-body">              
                        <h4>Anmäl ditt lag till Cobra Cup 2015</h4>
                        <form class="form" role="form" method="post">
                            Kapten
                            <div class="row">
                                <div class="form-group col-xs-4">
                                    <label for="pReserveName" class="control-label sr-only">Namn</label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><span class="fui-user"></span></div>
                                        <input type="text" class="form-control" id="pReserveFirstName" placeholder="Namn" name="name" required autofocus>
                                    </div>
                                </div>
                                <div class="form-group col-xs-4">
                                    <label for="pReserveEmail" class="control-label sr-only">Epost</label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-envelope"></i></div>
                                        <input type="email" class="form-control" id="pReserveEmail" placeholder="Epost" name="email" required>
                                    </div>
                                </div>
                                <div class="form-group col-xs-4">
                                    <label for="pReserveTelephone" class="control-label sr-only">Telefon</label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-phone"></i></div>
                                        <input type="text" class="form-control" id="pReserveTelephone" placeholder="Telefon" name="telephone" required>
                                    </div>
                                </div>
                            </div>
                            Assisterande
                            <div class="row">
                                <div class="form-group col-xs-4">
                                    <label for="pReserveName" class="control-label sr-only">Namn</label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><span class="fui-user"></span></div>
                                        <input type="text" class="form-control" id="pReserveFirstName" placeholder="Namn" name="name" required autofocus>
                                    </div>
                                </div>
                                <div class="form-group col-xs-4">
                                    <label for="pReserveEmail" class="control-label sr-only">Epost</label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-envelope"></i></div>
                                        <input type="email" class="form-control" id="pReserveEmail" placeholder="Epost" name="email" required>
                                    </div>
                                </div>
                                <div class="form-group col-xs-4">
                                    <label for="pReserveTelephone" class="control-label sr-only">Telefon</label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-phone"></i></div>
                                        <input type="text" class="form-control" id="pReserveTelephone" placeholder="Telefon" name="telephone" required>
                                    </div>
                                </div>
                            </div>
                            Laget
                            <div class="form-group">
                                <label for="pReserveName" class="control-label sr-only">Lagnamn</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><span class="fui-user"></span></div>
                                    <input type="text" class="form-control" id="pReserveFirstName" placeholder="Lagnamn" name="team_name" required autofocus>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="pReserveName" class="control-label sr-only">Lagets motto</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><span class="fui-user"></span></div>
                                    <input type="text" class="form-control" id="pReserveFirstName" placeholder="Lagets motto" name="team_motto" required autofocus>
                                </div>
                            </div>
                                
                                <% if(typeof(nhlteams) !== 'undefined'){ %>
                                    <select class="form-control select select-inverse select-block mbl">
                                        <optgroup label="NHL">
                                        <%
                                        nhlteams.forEach(function(nhlTeam) { %>
                                            <option value="<%= nhlTeam.get("name") %>"><%= nhlTeam.get("name") %></option>
                                        <% }) %>
                                        </optgroup>
                                    </select>
                                    <% 
                                } else { %>
                                    <p><em>Problem att ladda lediga lag.</em></p>
                                <% } %>

                            <div class="form-group">
                                <input type='hidden' name='_method' value='put' />
                                <button type="submit" class="btn btn-md btn-primary"><span class="fui-star-2"></span> Anmäl</button>
                            </div>
                        </form>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>
    <!-- /#page-wrapper -->
    
    <p style="margin-top: 2.5em;"><small>&copy; 2014 Copyright The Cobra Cup</small></p>

    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/dist/js/vendor/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/dist/js/flat-ui.min.js"></script>

    <!-- jQuery Version 1.11.0 -->
    <!-- <script src="//code.jquery.com/jquery-1.11.0.min.js"></script> -->
 
    <!-- Latest compiled and minified JavaScript -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script> -->
    <script>
        $("select").select2({dropdownCssClass: 'dropdown-inverse'});
    </script>
</body>
 
</html>