<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>Create an autocomplete input box with typeahead.js</title>
  
    <!-- Bootstrap CSS Toolkit styles -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    
    <link rel="stylesheet" href="stylesheets/test.css">
    
    <style>
      #project-label {
        display: block;
        font-weight: bold;
        margin-bottom: 1em;
      }
      #project-icon {
        float: left;
        height: 32px;
        width: 32px;
      }
      #project-description {
        margin: 0;
        padding: 0;
      }
    </style>
</head>

<body>
    <div id="project-label">Select a project (type "j" for a start):</div>
    <input id="project">
    <input type="hidden" id="project-id">
    <p id="project-description"></p>

    <!-- Load jQuery and the typeahead JS files -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <!-- <script src="js/typeahead.js"></script> -->

    <script type="text/javascript">
        // Waiting for the DOM ready...
        var players = [];
        var playersObj = <%- JSON.stringify(allPlayers) %>
        if (typeof(playersObj) !== 'undefined') {
            players = playersObj;
        }

        $(function() {
            $( "#project" ).autocomplete({
              minLength: 0,
              source: players,
              focus: function( event, ui ) {
                $( "#project" ).val( ui.item.label );
                return false;
              },
              select: function( event, ui ) {
                $( "#project" ).val( ui.item.label );
                $( "#project-id" ).val( ui.item.value );
                $( "#project-description" ).html( ui.item.value );
         
                return false;
              }
            })
            .autocomplete( "instance" )._renderItem = function( ul, item ) {
              return $( "<li>" )
                .append( "<a>" + item.label + "<br><small><i>" + item.team + "</i></small></a>" )
                .appendTo( ul );
            };
        });
  </script>
</body> 
</html>
