/*
 * Base structure
 */

html,
body {
  background-color: rgb(231,76,60);
}
body {
  color: #34495E;
  padding-top: 70px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #F1C40F;
}

.fullybooked{
	color: #E74C3C !important;
}

.stillopen{
	color: #2ECC71 !important;
}

.small-table-header{
	font-size: 14px;
}

.small-table-rows{
	font-size: 13px;
}

a:focus {
  color: #F1C40F;
}

#ranking-info { display: none; }

.table > thead > tr > td.statstable,
.table > tbody > tr > td.statstable,
.table > tfoot > tr > td.statstable,
.table > thead > tr > th.statstable,
.table > tbody > tr > th.statstable,
.table > tfoot > tr > th.statstable,
.table > thead > tr.statstable > td,
.table > tbody > tr.statstable > td,
.table > tfoot > tr.statstable > td,
.table > thead > tr.statstable > th,
.table > tbody > tr.statstable > th,
.table > tfoot > tr.statstable > th {
 background-color: #e76254 ;
 color: #34495E;
}
.table-hover > tbody > tr > td.statstable:hover,
.table-hover > tbody > tr > th.statstable:hover,
.table-hover > tbody > tr.statstable:hover > td,
.table-hover > tbody > tr:hover > .statstable,
.table-hover > tbody > tr.statstable:hover > th {
 background-color: #e46a5d ;
}