/* Links */
a,
a:focus,
a:hover {
  /*color: #ecbe48;*/
}

/*
 * Base structure
 */

html,
body {
  background-color: rgb(89,74,65);
}
body {
  color: rgb(241,102,57);
  padding-top: 65px;
}

.center-cropped {
    width: 150px;
    height: 50px;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
}

/* Set the image to fill its parent and make transparent */
.center-cropped img {
   min-height: 100%;
   min-width: 100%;

   /* IE 8 */
   -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
   /* IE 5-7 */
   filter: alpha(opacity=0);
   /* modern browsers */
   opacity: 0;
}